/* EXERCÍCIO 1: fontes */

body {
  font-family: "Verdana", sans-serif;
  background-color: #fff;
}

strong {
  color: #d027aa;
}

#recipiente {
  background-image: linear-gradient(to bottom, #f6f1b2, #4599b2 80%);
  border-left: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
}

#cardapio {
  background-color: rgba(255, 255, 255, 0.2);
  border-top: 1px solid #aac0ae;
  border-bottom: 1px solid #aac0ae;
  border-left: 1px solid #aac0ae;
  padding: 0px 20px 20px;
}

#cardapio h3 {
  font-size: 18px;
  color: #333;
  margin-top: 30px;
}

#cardapio article {
  font-size: 14px;
  color: #333;
}


/* EXERCÍCIO 2: layout da página */
html,
body,
#recipiente {
  min-height: 100vh;
}

body {
  /* remove a margem padrão */
  margin: 0;
}

#recipiente {
  /* layout da página aqui */
  width: 800px;
  margin: 0 auto;
  display: grid;

  grid-template-columns: 154px 1fr;

  /* Linha 1: automática (header) 
     Linha 2: cresce conforme o conteúdo (1fr)
     Linha 3: automática (footer) */
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "lateral header"
    "lateral cardapio"
    "lateral footer";
}

#cabecalho-pagina {
  grid-area: header;
}

#lateral {
  grid-area: lateral;
}

#cardapio {
  grid-area: cardapio;
}

#rodape-pagina {
  grid-area: footer;
}



/* EXERCÍCIO 3: cabeçalho da página */
#cabecalho-pagina {
  padding: 10px 20px 10px 0;
}

#cabecalho-pagina h1 {
  margin: 0;
  font-size: 36px;
  color: #e90c0c;
  font-weight: normal;
  font-family: "Ravie", sans-serif;
  text-align: center;
}

#cabecalho-pagina h2 {
  margin: 10px 0 0 0;
  font-size: 24px;
  color: #333;
  font-weight: normal;
  text-align: right;
}

/* EXERCÍCIO 4: cada item do menu */
article {
  /* Flexbox para alinhar nome e preço */
  display: flex;
  justify-content: space-between;

  /* Espaçamento vertical duplo */
  line-height: 2;
}


/* EXERCÍCIO 5: o rodapé */
#rodape-pagina {
  display: flex;
  justify-content: flex-end;
  padding: 48px 15px 25px 0;
}

/* EXERCÍCIO 6: lateral */
#lateral {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/* EXERCÍCIO 7: o ticket */
#ticket {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: -89px;
  transition: left 100ms ease-out;
  z-index: 100;
}

#ticket:hover {
  left: 0;
}


/* EXERCÍCIO 8: deslocamento no siri e peixe */
#siri {
  margin-left: -10px;
  margin-top: 17px;
}

#peixe {
  margin-left: -44px;
}

/* EXERCÍCIO 9: bolhas - no HTML e no JS */
/* --- */


/* EXERCÍCIO 10: modo escuro */
/* no início deste arquivo (depois dos @import), coloque
   as custom properties */
/* coloque aqui a media query para sobrescrever o valor
   das custom properties para o modo escuro */